{% extends "base.html" %}

{% block title %}Strona Główna - Moje Portfolio{% endblock title %}

{% block content %}
<!-- Sekcja O mnie -->
<h1 class="mb-4">O mnie</h1>

<div class="profile-info">
  {% if avatar_path %}
    <img src="{{ avatar_path }}" alt="Avatar">
  {% else %}
    <!-- W razie braku pobranego avatara - placeholder -->
    <img src="https://via.placeholder.com/130x130.png?text=Brak+avatar"
         alt="Avatar">
  {% endif %}
  <div>
    <h2>{{ my_name }}</h2>
    <p>{{ my_description }}</p>
  </div>
</div>

<hr />

<!-- Doświadczenie -->
<h3 class="section-title">Doświadczenie</h3>
<p>
  Tutaj możesz opisać swoje doświadczenie zawodowe / projekty, nad którymi pracowałeś.
</p>

<!-- Zainteresowania -->
<h3 class="section-title">Zainteresowania</h3>
<p>
  Tutaj opisz swoje główne hobby, np. budownictwo, lasery, IT, itp.
</p>

<hr />

<!-- Kontakt -->
<h3 class="section-title">Kontakt</h3>
<p>
  Jeśli chcesz się ze mną skontaktować, skorzystaj z jednego z poniższych sposobów:
</p>
<ul>
  <li>
    E-mail:
    <a href="mailto:marcin-cichy@wp.pl.com">marcin-cichy [at] wp [dot] pl</a>
  </li>
  <li>
    LinkedIn:
    <a href="www.linkedin.com/in/marcin-pawel-cichy" target="_blank">
      linkedin.com/in/marcincichy
    </a>
  </li>
</ul>
{% endblock content %}
